<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cadastro</title>
</head>

<body>
    <h1>Cadastro de usuários</h1>

    <main>
        <form action="/cadastro" method="post">
            <input type="text" name="nome" id="nome" placeholder="Insira seu nome">
            <input type="text" name="idade" id="idade" placeholder="Insira sua idade">
            <input type="submit" value="Enviar dados">
        </form>
    </main>

    <a href="/">Voltar para home</a>

</body>

</html>